<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/layout}">
<th:block layout:fragment="content">
    <div class="container-xxl">

        <!-- 게시글 목록 -->
        <div class="mt-4">
            <table class="table table-hover">
                <thead class="table-light">
                <colgroup>
                    <col width="10%">
                    <col width="10%">
                    <col width="*%">
                    <col width="10%">
                    <col width="10%">
                    <col width="5%">
                </colgroup>
                <tr class="text-center">
                    <th>댓글번호</th>
                    <th>작성자</th>
                    <th>내용</th>
                    <th>날짜</th>
                    <th>상태</th>
                    <th>관리</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="comment : ${comments}" class="text-center">
                    <div th:if="i">
                        <td th:text="${comment.id}"></td>
                        <td th:text="${comment.author}"></td>
                        <td>
                            <a th:href="@{/post/{id}(id=${comment.postDetail.id})}">
                                <p th:text="${comment.content}" class="text-black"></p>
                                <p th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd hh:mm a')}"
                                   class="text-muted small"></p>
                                <p th:text="${comment.postDetail.title}" class="text-muted small"></p>
                            </a>
                        </td>
                        <td th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd')}"></td>
                        <td th:if="${comment.isDeleted == 'N'}"></td>
                        <td th:if="${comment.isDeleted == 'Y'}">삭제</td>
                        <td>
                            <div>
                                <form th:action="@{/admin/comment/delete}" method="post">
                                    <input type="hidden" name="id" th:value="${comment.id}">
                                    <button type="submit" class="btn btn-sm btn-danger">삭제</button>
                                </form>
                            </div>
                        </td>
                    </div>
                </tr>
                <tr th:if="${comments == null or comments.isEmpty()}" class="text-center">
                    <td colspan="7" rowspan="2">게시글이 존재하지 않습니다.<br>게시글을 작성하여 다른 사람들과 소통해보세요!</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${comments.totalPages > 0}" class="pagination justify-content-center">
            <ul class="pagination">
                <li class="page-item">
                    <a th:href="@{/admin/comments/(page=0, size=10)}"
                       th:class="${comments.isFirst()} ? 'disabled page-link' : 'page-link' ">처음</a>
                </li>
                <li class="page-item">
                    <a th:href="@{/admin/comments/(page=${comments.number - 1} , size=10)}"
                       th:class="${comments.isFirst()} ? 'disabled page-link' : 'page-link' ">이전</a>
                </li>

                <!-- 페이지 번호 링크 -->
                <li th:each="i : ${#numbers.sequence(0, comments.totalPages - 1)}" class="page-item">
                    <a th:href="@{/admin/comments(page=${i}, size=10)}"
                       th:text="${i + 1}" class="page-link"
                       th:classappend="${comments.number == i} ? ' active' : ''"></a>
                </li>

                <li class="page-item">
                    <a th:href="@{/admin/comments(page=${comments.number + 1}, size=10)}"
                       th:class="${comments.isLast()} ? 'disabled page-link' : 'page-link' ">다음</a>
                </li>
                <li class="page-item">
                    <a th:href="@{/admin/comments(page=${comments.totalPages - 1}, size=10)}"
                       th:class="${comments.isLast()} ? 'disabled page-link' : 'page-link' ">마지막</a>
                </li>
            </ul>
        </div>
    </div>
</th:block>
</html>