<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/layout}">
<th:block layout:fragment="content">
    <div class="container-xxl">
        <h2>회원 목록</h2>
        <form th:action="@{/member/search}" method="get">
            <label for="keyword" class="fw-bold">검색어:</label>
            <input type="text" name="keyword" id="keyword" required>

            <label for="search" class="fw-bold">검색 기준:</label>
            <select name="searchType" id="search">
                <option value="EMAIL">이메일</option>
                <option value="USERNAME">아이디</option>
                <option value="NICKNAME">닉네임</option>
                <option value="CREATED_AT">가입날짜</option>
            </select>

            <label for="searchStatus" class="fw-bold">상태:</label>
            <select name="searchStatus" id="searchStatus">
                <option value="ACTIVE">활동</option>
                <option value="SUSPENDED">정지</option>
                <option value="BANNED">영구정지</option>
            </select>
            <button type="submit" class="btn btn-sm btn-primary">검색</button>
        </form>

        <table id="memberTable" class="table">
            <thead>
            <tr>
                <th>번호</th>
                <th>아이디</th>
                <th>닉네임</th>
                <th>이메일</th>
                <th>가입일</th>
                <th>상태</th>
                <th>권한</th>
                <th>관리</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.username}"></td>
                <td th:text="${member.nickname}"></td>
                <td th:text="${member.email}"></td>
                <td th:text="${#temporals.format(member.createdAt, 'yyyy-MM-dd hh:mm a')}"></td>

                <td id="suspension" th:switch="${member.status.name()}">
                    <span th:case="'ACTIVE'">활동</span>
                    <span th:case="'SUSPENDED'">정지</span>
                    <span th:case="'BANNED'">영구정지</span>
                </td>

                <td id="role" th:switch="${member.role.name()}">
                    <span th:case="'MEMBER'">일반회원</span>
                    <span th:case="'MENTOR'">멘토</span>
                </td>

                <td id="suspensionTable">
                    <button class="btn btn-danger btn-sm mb-3"
                            th:onclick="'showRoleOptions(' + ${member.id} + ')'">권한설정
                    </button>

                    <form id="roleForm" th:action="@{/admin/member/role}" method="post" class="mb-3">
                        <input type="hidden" name="id" th:value="${member.id}">
                        <input type="hidden" name="nickname" th:value="${member.nickname}">
                        <div th:id="'roleDropdown-' + ${member.id}" style="display:none;">
                            <select th:id="'roleSelect-' + ${member.id}" name="memberRole" class="form-control mb-3"
                                    th:onchange="'toggleRole(' + ${member.id} + ')'">
                                <option th:value="MEMBER" th:selected="${member.status == 'MEMBER'}">일반회원</option>
                                <option th:value="MENTOR" th:selected="${member.status == 'MENTOR'}">멘토</option>
                            </select>

                            <button type="submit" class="btn btn-sm btn-primary">저장</button>
                            <button type="button" class="btn btn-sm btn-secondary"
                                    th:onclick="'cancelRole('+${member.id}+')'">취소
                            </button>
                        </div>
                    </form>

                    <button class="btn btn-danger btn-sm mb-3"
                            th:onclick="'showSuspensionOptions(' + ${member.id} + ')'">정지
                    </button>

                    <form id="suspensionForm" th:action="@{/admin/members/suspension}" method="post">
                        <input type="hidden" name="id" th:value="${member.id}">
                        <div th:id="'statusDropdown-' + ${member.id}" style="display:none;">
                            <select th:id="'statusSelect-' + ${member.id}" name="memberStatus" class="form-control mb-3"
                                    th:onchange="'toggleSuspensionPeriod(' + ${member.id} + ')'">
                                <option th:value="ACTIVE" th:selected="${member.status == 'ACTIVE'}">활동</option>
                                <option th:value="SUSPENDED" th:selected="${member.status == 'SUSPENDED'}">정지</option>
                                <option th:value="BANNED" th:selected="${member.status == 'BANNED'}">영구정지</option>
                            </select>
                            <div th:id="'reasonSection-' + ${member.id}">
                                <label for="reason">정지 사유</label>
                                <input type="text" name="reason" id="reason" class="form-control mb-2">
                            </div>
                            <div th:id="'suspensionPeriodSection-' + ${member.id}" style="display: none;">
                                <input type="hidden" name="memberId" th:value="${member.id}">
                                <label th:for="'suspensionPeriod-' + ${member.id}">정지 기간:</label>
                                <input type="datetime-local" class="form-control mb-1"
                                       th:id="'suspensionPeriod-' + ${member.id}"
                                       name="endDate">
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary">저장</button>
                            <button type="button" class="btn btn-sm btn-secondary"
                                    th:onclick="'cancelSuspension('+${member.id}+')'">취소
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${members.totalPages > 0}" class="pagination justify-content-center">
            <ul class="pagination">
                <li class="page-item">
                    <a th:href="@{/admin/members(page=0, size=10)}"
                       th:class="${members.isFirst()} ? 'disabled page-link' : 'page-link' ">처음</a>
                </li>
                <li class="page-item">
                    <a th:href="@{/admin/members(page=${members.number - 1} , size=10)}"
                       th:class="${members.isFirst()} ? 'disabled page-link' : 'page-link' ">이전</a>
                </li>

                <!-- 페이지 번호 링크 -->
                <li th:each="i : ${#numbers.sequence(0, members.totalPages - 1)}" class="page-item">
                    <a th:href="@{/admin/members(page=${i}, size=10)}"
                       th:text="${i + 1}" class="page-link"
                       th:classappend="${members.number == i} ? ' active' : ''"></a>
                </li>

                <li class="page-item">
                    <a th:href="@{/admin/members( page=${members.number + 1}, size=10)}"
                       th:class="${members.isLast()} ? 'disabled page-link' : 'page-link' ">다음</a>
                </li>
                <li class="page-item">
                    <a th:href="@{/admin/members(page=${members.totalPages - 1}, size=10)}"
                       th:class="${members.isLast()} ? 'disabled page-link' : 'page-link' ">마지막</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script th:if="${noResults}">
        alert('검색 조건에 맞는 회원이 없습니다.');
    </script>
    <script>
        function showRoleOptions(memberId) {
            const dropdown = document.getElementById(`roleDropdown-` + memberId);
            const statusSelect = document.getElementById(`roleSelect-` + memberId);

            // 상태 드롭다운을 표시
            dropdown.style.display = 'block';

            // 일반회원 상태가 기본값으로 선택되도록 설정
            statusSelect.value = 'MEMBER';

        }

        function cancelRole(memberId) {
            const dropdown = document.getElementById(`roleDropdown-` + memberId);
            dropdown.style.display = 'none';
        }


        // 정지 버튼 클릭 시 드롭다운 리스트와 기간 입력칸을 표시하는 함수
        function showSuspensionOptions(memberId) {
            const dropdown = document.getElementById(`statusDropdown-` + memberId);
            const statusSelect = document.getElementById(`statusSelect-` + memberId);

            // 상태 드롭다운을 표시
            dropdown.style.display = 'block';

            // 정지 상태가 기본값으로 선택되도록 설정
            statusSelect.value = 'SUSPENDED';

            // 기간 설정 칸은 정지 상태일 때만 표시
            toggleSuspensionPeriod(memberId);
        }

        // 상태가 변경되면 정지 기간 입력칸을 표시하거나 숨기는 함수
        // 상태 변경 시 정지 기간 입력칸을 표시하거나 숨기는 함수
        function toggleSuspensionPeriod(memberId) {
            const status = document.getElementById(`statusSelect-${memberId}`).value;
            const suspensionPeriodSection = document.getElementById(`suspensionPeriodSection-${memberId}`);
            const reasonSection = document.getElementById(`reasonSection-${memberId}`);

            if (status === 'SUSPENDED') {
                suspensionPeriodSection.style.display = 'block';
                reasonSection.style.display = 'block';
            } else if (status === 'BANNED') {
                suspensionPeriodSection.style.display = 'none';
                reasonSection.style.display = 'block';
            } else {
                suspensionPeriodSection.style.display = 'none';
                reasonSection.style.display = 'none';
            }
        }

        function cancelSuspension(memberId) {
            const dropdown = document.getElementById(`statusDropdown-` + memberId);
            dropdown.style.display = 'none';
        }

        function validateForm(event) {
            // reason 필드 값 가져오기
            const reasonField = document.getElementById("reason");
            const reasonValue = reasonField.value.trim(); // 공백 제거

            // reason 필드가 비어있거나 공백만 있을 경우
            if (!reasonValue) {
                event.preventDefault();  // 폼 제출 막기
                alert("정지 사유를 입력해주세요.");  // 오류 메시지 표시
                reasonField.focus();  // reason 필드로 포커스 이동
                return false;  // 함수 종료
            }

            // 모든 검증 통과 시 폼 제출
            return true;
        }

        // 폼 제출 이벤트에 유효성 검사 추가
        document.getElementById("suspensionForm").addEventListener("submit", validateForm);

    </script>
</th:block>
</html>