<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block th:replace="~{/layout/fragments/header :: header}"></th:block>
</head>

<body>
<!-- navbar -->
<th:block th:replace="~{/layout/fragments/navbar :: navbar}"></th:block>

<!-- 본문 영역 -->
<main class="content">
    <th:block layout:fragment="content"></th:block>
</main>

<!-- 푸터 -->
<th:block th:replace="~{/layout/fragments/footer :: footer}"></th:block>
</body>
</html>
