<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <div class="container-xxl">
        <!-- 카테고리 탭 -->
        <ul class="nav nav-tabs justify-content-center align-items-center">
            <li class="nav-item">
                <a class="nav-link"
                   th:classappend="${category.postCategory eq '자유게시판'} ? active : ''"
                   th:href="@{/post/free}">자유게시판</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:classappend="${category.postCategory eq '백엔드'} ? active : ''"
                   th:href="@{/post/backend}">백엔드</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:classappend="${category.postCategory eq '프론트엔드'} ? active : ''"
                   th:href="@{/post/frontend}">프론트엔드</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:classappend="${category.postCategory eq '취업'} ? active : ''"
                   th:href="@{/post/job}">취업</a>
            </li>
        </ul>

        <form th:action="@{/post/search}" method="get">
            <label for="keyword" class="fw-bold">검색어:</label>
            <input type="text" name="keyword" id="keyword" required>
            <select name="category" id="category">
                <option value="FREE" th:selected="${category == 'FREE'}">자유게시판</option>
                <option value="BACKEND" th:selected="${category == 'BACKEND'}">백엔드</option>
                <option value="FRONTEND" th:selected="${category == 'FRONTEND'}">프론트엔드</option>
                <option value="JOB" th:selected="${category == 'JOB'}">취업</option>
            </select>
            <select name="searchType" id="search">
                <option value="TITLE">제목</option>
                <option value="CONTENT">내용</option>
                <option value="TITLE_AND_CONTENT">제목+내용</option>
                <option value="COMMENT">댓글</option>
            </select>
            <button type="submit" class="btn btn-sm btn-primary">검색</button>
        </form>

        <!-- 게시글 목록 -->
        <div class="mt-4">
            <table id="postTable" class="table table-hover">
                <thead class="table-light">
                <colgroup>
                    <col width="5%">
                    <col width="10%">
                    <col width="10%">
                    <col width="*%">
                    <col width="10%">
                    <col width="5%">
                </colgroup>
                <tr class="text-center">
                    <th>글번호</th>
                    <th>카테고리</th>
                    <th>작성자</th>
                    <th>제목</th>
                    <th>날짜</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}" class="text-center">
                    <div th:if="i">
                        <td th:text="${post.id}"></td>
                        <td th:text="${category.getPostCategory()}"></td>
                        <td th:text="${post.authorNickname}"></td>
                        <td><a th:href="@{/post/{category}/{id}(category=${category}, id=${post.id})}"
                               th:text="${post.title}"></a></td>
                        <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}"></td>
                        <td th:text="${post.views}"></td>
                    </div>
                </tr>
                <tr th:if="${posts == null or posts.isEmpty()}" class="text-center">
                    <td colspan="6" rowspan="2">게시글이 존재하지 않습니다.<br>게시글을 작성하여 다른 사람들과 소통해보세요!</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 글 작성 버튼 -->
        <div th:if="${session.loginMember != null}" class="text-end">
            <a th:href="@{/post/create}" class="btn btn-primary">글 작성</a>
        </div>

        <div th:if="${posts.totalPages > 0}" class="pagination justify-content-center">
            <ul class="pagination">
                <li class="page-item">
                    <a th:href="@{/post/{category}(category=${category}, page=0, size=10)}"
                       th:class="${posts.isFirst()} ? 'disabled page-link' : 'page-link' ">처음</a>
                </li>
                <li class="page-item">
                    <a th:href="@{/post/{category}(category=${category}, page=${posts.number - 1}, size=10)}"
                       th:class="${posts.isFirst()} ? 'disabled page-link' : 'page-link' ">이전</a>
                </li>
                <!-- 페이지 번호 링크 -->
                <th:block th:with="
                    start=${T(java.lang.Math).max(0, posts.number - 2)},
                    end=${T(java.lang.Math).min(posts.totalPages - 1, posts.number + 2)}">
                    <li th:each="i : ${#numbers.sequence(start, end)}" class="page-item">
                        <a th:href="@{/post/{category}(category=${category}, page=${i})}"
                           th:text="${i + 1}" class="page-link"
                           th:classappend="${posts.number == i} ? ' active' : ''"></a>
                    </li>
                </th:block>
                <li class="page-item">
                    <a th:href="@{/post/{category}(category=${category}, page=${posts.number + 1})}"
                       th:class="${posts.isLast()} ? 'disabled page-link' : 'page-link' ">다음</a>
                </li>
                <li class="page-item">
                    <a th:href="@{/post/{category}(category=${category}, page=${posts.totalPages - 1})}"
                       th:class="${posts.isLast()} ? 'disabled page-link' : 'page-link' ">마지막</a>
                </li>
            </ul>
        </div>
    </div>
    <script th:if="${noResults}">
        alert("검색 결과가 없습니다.");
    </script>
    <script>
        function deletePost(postId) {
            if (confirm("정말 삭제하시겠습니까?")) {
                $.ajax({
                    url: '/admin/post/delete',  // 삭제할 API 경로
                    type: 'POST',
                    data: {id: postId},
                    success: function (response) {
                        alert("삭제되었습니다.");
                        $('#postTable').DataTable().ajax.reload();  // 삭제 후 데이터 테이블 새로고침
                    },
                    error: function (xhr, status, error) {
                        alert("삭제에 실패했습니다.");
                    }
                });
            }
        }
    </script>
</th:block>
</html>