<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <div class="container-xxl">
        <!-- 카테고리 탭 -->
        <ul class="nav nav-tabs justify-content-center align-items-center">
            <li class="nav-item">
                <a class="nav-link active" href="#" th:href="@{/post/category/free}">자유게시판</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/post/category/backend}">백엔드</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/post/category/frontend}">프론트엔드</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/post/category/job}">취업</a>
            </li>
        </ul>

        <!-- 게시글 목록 -->
        <div class="mt-4">
            <table class="table table-hover">
                <thead class="table-light">
                <colgroup>
                    <col width="5%">
                    <col width="10%">
                    <col width="10%">
                    <col width="*%">
                    <col width="10%">
                    <col width="5%">
                </colgroup>
                <tr class="text-center">
                    <th>글번호</th>
                    <th>카테고리</th>
                    <th>작성자</th>
                    <th>제목</th>
                    <th>날짜</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}">
                    <td th:text="${post.id}"></td>
                    <td th:text="${post.category.getPostCategory()}"></td>
                    <td th:text="${post.authorName}"></td>
                    <td><a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
                    <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}"></td>
                    <td th:text="${post.views}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 글 작성 버튼 -->
        <div class="text-end">
            <a th:href="@{/post/write}" class="btn btn-primary">글 작성</a>
        </div>
    </div>
</th:block>
</html>